body {
    margin: 0 20px;
    position: relative;
}
.coin {
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}
.small {
    background-image: url(../images/coin_small.png);
    width: 24px;
    height: 24px;
    z-index: 10;
}
.medium {
    background-image: url(../images/coin_medium.png);
    width: 32px;
    height: 32px;
    z-index: 9;
}
.big {
    background-image: url(../images/coin_big.png);
    width: 48px;
    height: 48px;
    z-index: 8;
}
.boom {
    background-image: url(../images/boom.png);
    width: 48px;
    height: 48px;
    z-index: 11;
}